@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: "Poppins", sans-serif;
}

header {
    background-color: #EBAD8D;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header h1{
    font-size: 40px;
}

main {
    display: flex;
    align-items: center;
    height: 68.7vh;
    margin: 50px;
}


.imagen-container {
    float: left;
}

.imagen-container img{
    width: 50vh;
    border-radius: 20px;
}

.datos-container{
    overflow: hidden;
}

.datos-content {
    margin-left: 80px; /* Espacio entre la imagen y los datos */
}

.datos-content p{
    font-size: 25px;
    line-height: 2;
    font-weight: 700;
}

.datos-content span {
    font-weight: normal;
}

footer{
    background-color: #EBAD8D;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    box-sizing: border-box;
}

.footer-image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}

footer img{
    width: 25vh;
}
@media (max-width:550px) {
    header h1 {
        font-size: 40px;
    }

    main {
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .imagen-container {
        float: none;
    }

    .imagen-container img {
        width: 100%;
    }

    .datos-container {
        margin-bottom: 90px;
    }

    .datos-content {
        margin-left: 0;
    }
}